* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(153, 255, 255);
  font-family: "Poppins", sans-serif;
}

a,
button {
  font-family: "Poppins", sans-serif;
}

.dropdown {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
}

.plots li,
.comparison li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plots li:hover,
.comparison li:hover {
  background-color: rgb(184, 102, 126);
}

.plots ul,
.comparison ul {
  position: relative;
}

.plots ul,
.comparison ul {
  position: absolute;
  background: white;
  margin-top: 10px;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  list-style: none;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.dropdown button {
  background: none;
  border: none;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
}

.dropdown button:hover
.home:hover {
  color: rgb(224, 224, 224);

}

.plots button:focus + ul,
.comparison button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}

.box {
  height: 400px;
  padding: 20px;
  color: #fff;
  background: rgb(0, 0, 153);
}

.skyblue {
  background: skyblue;
}

.purple {
  background: rebeccapurple;
}

.red {
  background: indianred;
}
